.header {
    font-size: 28px;
    font-weight: 700;
    text-align: center;
    padding: 25px 0;
    text-transform: uppercase;

    small {
        display: block;
        font-weight: 400;
        font-size: 14px;
        text-transform: none;
        a {
            border-bottom: 1px dashed;
        }
    }
}